@model IEnumerable<TMDT.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/js/jquery-2.2.3.min.js"></script>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <a href="/Admin/Courses/Create" class="btn btn-success btn-lg" style="cursor: pointer">
                        Thêm mới
                    </a>
                </div>
                <div class="box-body">
                    <table id="search-table" class="table table-bordered table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CourseName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PFFPath)
                            </th>
                            <th class="hidden">
                                @Html.DisplayNameFor(model => model.YoutubePath)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Introduction)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.UserID)
                            </th>*@
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PFFPath)
                                </td>
                                <td class="hidden">
                                    @Html.DisplayFor(modelItem => item.YoutubePath)
                                </td>
                                <td>
                                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>*@

                                    @*<i style="cursor:pointer" class="fa fa-eye" ></i>
        <div style="display:none"  >@Html.DisplayFor(modelItem => item.Introduction)</div>*@
                                    <!-- Modal-->

                                    <i style="cursor:pointer" class="fa fa-eye" data-toggle="modal" data-target="#exampleModalCenter"></i>

                                    <div style="display:none">

                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Thông Tin Chi Tiết</h5>

                                            </div>
                                            <div class="modal-body">

                                                @Html.Raw(item.Introduction)

                                            </div>
                                            <div class="modal-footer">
                                                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.UserID)
                                </td>*@
                                <td>
                                    <a href="/Admin/Courses/Edit/@item.CourseID" data-toggle="tooltip" data-placement="top" title="Sửa"><i class="fa fa-edit"></i></a> &nbsp;
                                    <a href="/Admin/Courses/Details/@item.CourseID" data-toggle="tooltip" data-placement="top" title="Chi tiết"><i class="fa fa-list-alt"></i></a> &nbsp;
                                    <span class="Delete" data-id="@item.CourseID" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="Xóa">
                                        <i class="fa fa-times-circle"></i>
                                    </span> &nbsp;
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thông Tin Chi Tiết</h5>

            </div>
            <div class="modal-body">

                <div class="modal-content" style="display:inline-block">
                </div>
            </div>
            <div class="modal-footer" >
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    /*document ready*/
    function postUp() {
        var modal = document.getElementById('myModal');
        $('.fa.fa-eye').click(function () {
            $('#myModal .modal-content').css('display', 'block').html($(this).next().html());
            modal.style.display = "block";
        });
        $(window).click(function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        });
    }
    postUp();
</script>
