@*// Using's are needed to ensure helpers function correctly.*@
@*Have modified the helper variable names to lowercase as I have had some conflicts with the built in helpers names.
    I have modified the html helper to be generic which allows use of TextBoxFor etc helpers*@
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using TMDT.Models.CustomModel;


@functions {
    //private static System.Web.Mvc.HtmlHelper<dynamic> html { get { return page.Html; } }
    //private static dynamic viewBag { get { return page.ViewBag; } }
    private static WebViewPage page { get { return PageContext.Page as WebViewPage; } }
    private static UrlHelper url { get { return page.Url; } }
}

@*Ad helper*@

@helper CategorySelectElement(string name, List<ProductCategories> itemList)
{
    <select name="@name"
            id="@name"
            class="form-control">
        @foreach (var item in itemList)
        {
            <option value="@item.ID">
                    @*@(item.Selected ? "selected=\"selected\"" : "")
                    data-font-family="@item.FontFamily"
                    data-font-size="@item.FontSize">*@
                @item.Name
            </option>
        }

    </select>
}

