@model IEnumerable<TMDT.TinTucNew>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <script src="~/js/jquery-2.2.3.min.js"></script>
<section class="content" data-category="@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="search-table" class="table table-bordered table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Images)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Content)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.Images)" id="img_@item.id" class="img-thumbnail" style="cursor:pointer"
                                 alt="Alternate Text" width="100" onclick="selectImage('/TinTucNews/ChangeImage/@item.id',this.id)" />
                        </td>
                        <td>
                            <i style="cursor:pointer" class="fa fa-eye" data-toggle="modal" data-target="#exampleModalCenter"></i>
                            <div style="display:none">

                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Thông Tin Chi Tiết</h5>

                                    </div>
                                    <div class="modal-body">

                                        @Html.Raw(item.Content)

                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="/Admin/TinTucNews/Edit/@item.id" data-toggle="tooltip" data-placement="top" title="Sửa"><i class="fa fa-edit"></i></a> &nbsp;
                            <a href="/Admin/TinTucNews/Details/@item.id" data-toggle="tooltip" data-placement="top" title="Chi tiết"><i class="fa fa-list-alt"></i></a> &nbsp;
                           
                        </td>
                    </tr>
                        }

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- The Modal -->
    <!--  -------------------------  --->
</section>

<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thông Tin Chi Tiết</h5>

            </div>
            <div class="modal-body">

                <div class="modal-content" style="display:inline-block">
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    /*document ready*/
    function postUp() {
        var modal = document.getElementById('myModal');
        $('.fa.fa-eye').click(function () {
            $('#myModal .modal-content').css('display', 'block').html($(this).next().html());
            modal.style.display = "block";
        });
        $(window).click(function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        });
    }
    postUp();
</script>
