@model TMDT.SliderTop

@{
    /**/

    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <!-- COLOR PALETTE -->
    <div class="box box-default color-palette-box">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i class="fa fa-tag"></i> Sửa
            </h3>
        </div>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
   
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        <div id="content"><img src="@Model.Image" class="img-thumbnail" style="width:200px" type="type/html"/></div>

                        @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control hidden" } })
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <input class="btn btn-default" id="Browse" value="Chọn ảnh" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2 " })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control",placeholder= "Bỏ trống nếu dẫn đến trang chủ" } })
                        @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                    </div>
                </div>               

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Status, new { @checked = "checked" })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-success" />
                        <p class="btn btn-default">@Html.ActionLink("Cancel", "Index")</p>
                    </div>
                </div>
            </div>
        }
        <br /><br />
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#Browse").click(function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    //Lấy file ảnh cuối cùng
                    $("#Image").val(fileUrl);
                    document.getElementById("content").innerHTML = '<img class="img-thumbnail" style="width:200px" type="type/html" src="' + fileUrl + '" />';
                };
                finder.popup();
            });
        });
    </script>
}