@model IEnumerable<TMDT.Topmenu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="search-table" class="table table-bordered table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.tenduong)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.diachi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.giolamviec)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.hotline)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.tenduong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.diachi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.giolamviec)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.hotline)
                        </td>
                        <td>
                            <a href="/Admin/Topmenus/Edit/@item.id" data-toggle="tooltip" data-placement="top" title="Sửa"><i class="fa fa-edit"></i></a> &nbsp;
                            <a href="/Admin/Topmenus/Details/@item.id" data-toggle="tooltip" data-placement="top" title="Chi tiết"><i class="fa fa-list-alt"></i></a> &nbsp;
                            <span class="Delete" data-id="@item.id" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="Xóa">
                                <i class="fa fa-times-circle"></i>
                            </span> &nbsp;
                        </td>
                    </tr>
                        }
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- The Modal -->
    <!--  -------------------------  --->
</section>
